# Node.js dependencies
node_modules/

# Environment variables file
.env

# Log files
npm-debug.log
yarn-debug.log
yarn-error.log

# System files (for macOS and Windows)
.DS_Store
Thumbs.db

# IDE/editor specific files
.vscode/
.idea/

# Build directories
build/
dist/

# Coverage directory for test coverage reports
coverage/

# Debug files
*.tgz
